body {
    font-family: Arial;
    background: linear-gradient(#f5f1e8,#e0d8c3);
    color: #243323;
}

/* MENU */

.menu {
    position: fixed;
    width: 210px;
    height: 100%;
    padding: 25px 15px;
    background: linear-gradient(90deg, #183c28, #2a6b47, #318c5a);
    color: white;
}

.logo {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 30px;
}

.menu a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.menu a:hover {
    background: #2f6845;
}

.menu-final {
    position: absolute;
    bottom: 20px;
    font-size: 16px;
}

/* CONTEÚDO */

.conteudo {
    margin-left: 210px;
    padding: 30px;
}

header {
    padding: 30px;
    background: #dce8d5;
    border-radius: 10px;
    box-shadow: 0 4px 10px #0002;
    transition: 0.3s;
}

header:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px #0003;
}

header h1 {
    font-size: 40px;
}

.pequeno {
    color: #66836a;
    font-size: 15px;
}

header p {
    font-size: 1.3rem;
}

/* CARDS */

.indicadores,
.desafios {
    display: flex;
    gap: 15px;
    margin: 20px 0;
}

.indicador,
.desafio {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px #0002;
    transition: 0.3s;
}

.indicador:hover,
.desafio:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px #0003;
}

.pessoa {
    background: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.7rem;
    box-shadow: 0 4px 10px #0002;
    transition: 0.3s;
    margin: 5px;
}

.pessoa:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px #0003;
}

.indicador {
    flex: 1;
}

.indicador span {
    font-size: 26px;
}

.indicador small {
    display: block;
    color: #777;
    font-size: 1.3rem;
}

/* TÍTULOS */

.titulo {
    margin: 25px 0 15px;
}

.titulo h2 {
    font-size: 28px;
}

/* DESAFIOS */

.desafios {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.desafio {
    display: flex;
    gap: 15px;
}

.numero {
    min-width: 40px;
    height: 40px;
    padding: 10px;
    background: #2f6845;
    color: white;
    border-radius: 50%;
    font-size: 18px;
}

.amarelo {
    background: #e0a51a;
}

.azul{
    background: #2b6f99
}
.descricao {
    width: 100%;
}

.descricao p {
    color: #777;
    font-size: 18px;
}

.desafio5 {
    grid-column: 1 / 3;
    width: 50%;
    margin: auto;
}

/* FORMULÁRIOS */

.form {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

input,button {
    padding: 7px;
    font-size: 16px;
}

input {
    width: 120px;
}

button {
    background: #2f6845;
    color: white;
    border: 0;
    border-radius: 5px;
}

button:hover {
    background: #183c28;
}

.resultado {
    margin-top: 10px;
    color: #2f6845;
    font-size: 18px;
}

/* EQUIPE E RODAPÉ */

.equipe {
    margin-top: 30px;
}

footer {
    margin-top: 30px;
    font-size: 1.3rem;
    border-top: 1px solid black;
    text-align: center;
}

.caixa-rolagem {
    height: 300px;
    overflow-y: auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px #0002;
    transition: 0.3s;
}

.caixa-rolagem:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px #0003;
}

.conteudo-caixa {
    padding-bottom: 25px;
    margin-bottom: 25px;
    font-size: 21px;
}

.conteudo-caixa h1 {
    text-align: center;
}

/* CELULAR */

@media (max-width: 768px) {
    .menu {
        position: static;
        width: 100%;
        height: auto;
    }

    .menu-final {
        display: none;
    }

    .menu nav {
        display: flex;
    }

    .conteudo {
        margin: 0;
        padding: 20px;
    }

    .indicadores,
    .desafios {
        display: block;
    }

    .indicador,
    .desafio {
        margin-bottom: 15px;
    }

    .desafio5 {
        width: 100%;
        grid-column: auto;
    }
}

#mapa{
  margin-left: 2.5em;
  height: 60px;
}